<form [formGroup]="form" novalidate (ngSubmit)="save(form.value, form.valid)">

  <div class="form-group text-center">
    <mat-input-container>
      <input mdInput type="text" class="form-control" formControlName="color" name="color" placeholder="Color">
      <mat-hint *ngIf="submitted && loginForm.hasError('required', ['email'])" class="text-danger">
        Email is required
      </mat-hint>

    </mat-input-container>
  </div>


  <div class="form-group text-center">
    <mat-input-container>
      <input mdInput type="text" class="form-control" formControlName="type" name="type" placeholder="type">
      <mat-hint *ngIf="submitted && loginForm.hasError('required', ['type'])" class="text-danger">
        Password is required
      </mat-hint>

    </mat-input-container>
  </div>


  <div class="text-center">
    <button type="submit" class="btn btn-default" mat-raised-button>Submit</button>
  </div>

</form>