<form [formGroup]="form" novalidate (ngSubmit)="save(form.value, form.valid)">

  <div class="form-group text-center">


      <mat-form-field>
          <mat-select placeholder="Favorite food"  formControlName="color" name="color" placeholder="Color" >
              <mat-option *ngFor="let food of [1,2,3]" [value]="food">
                  {{food}}
              </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-hint *ngIf="submitted && form.hasError('required', ['color'])" class="text-danger">
          Color is required
      </mat-hint>
  </div>

    <div class="form-group text-center">


        <mat-form-field>
            <mat-select placeholder="Favorite food"  formControlName="type" name="type" placeholder="type" >
                <mat-option *ngFor="let food of [1,2,3]" [value]="food">
                    {{food}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-hint *ngIf="submitted && form.hasError('required', ['type'])" class="text-danger">
            Type is required
        </mat-hint>
    </div>

  <div class="text-center">
    <button mat-button="primary" type="submit" class="btn btn-default" mat-raised-button>Submit</button>
  </div>

</form>

{{form.value|json}}