<form [formGroup]="form" novalidate (ngSubmit)="save(form.value, form.valid)">

  <div class="form-group text-center">


      <mat-form-field>
          <mat-select placeholder="Color"  formControlName="color" name="color" >
              <mat-option *ngFor="let color of colors" [value]="color.value">
                  {{color.label}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && form.hasError('required', ['color'])" class="text-danger">
              Color is required
          </mat-error>
      </mat-form-field>


  </div>

    <div class="form-group text-center">


        <mat-form-field>
            <mat-select placeholder="Type"  formControlName="type" name="type"  >
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.label}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && form.hasError('required', ['type'])" class="text-danger">
                Type is required
            </mat-error>
        </mat-form-field>


    </div>

  <div class="text-center">
    <button mat-button="primary" type="submit" class="btn btn-default" mat-raised-button>Submit</button>
    <button mat-button="secondary" type="reset" class="btn btn-default" mat-raised-button>Reset</button>
  </div>

</form>

<h3>
    <span>
        Car posibilities: {{count}}
    </span>
</h3>


{{form.value|json}}



<button (click)="setColor(colorEnum.RED)">
    RED LABEL
</button>
<button (click)="setColor(colorEnum.BLUE)">
    BLUE LABEL
</button>


